


    <div class="grid">
        <div class="item" id="item1">
            <div class="item-content">

                <img src="image/model1.jpg" width="400" height="282" alt="">

            </div>
        </div>
        <div class="item" id="item2">
            <div class="item-content">
                <img src="image/model5.jpg" width="400" height="266" alt="">
            </div>
        </div>
        <div class="item" id="item3">
            <div class="item-content">
                <img src="image/model4.jpg" width="250" height="300">
            </div>
        </div>
        <div class="item red">
            <div class="item-content">
                <img src="image/qfHNpNPM_400x400.jpg" width="400" height="400" alt="">
            </div>
        </div>
        <div class="item blue">
            <div class="item-content">
                <img src="image/model3.jpg" width="290" height="435" alt="">
            </div>
        </div>



    </div>
    <script type="text/javascript">
        var grid = new Muuri('.grid', {
            dragEnabled: true
        });
    </script>
